* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #333;
  color: white;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-width: 40px;
  height: auto;
  margin-right: 20px;
}

.cabecalho ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cabecalho li {
  margin: 0 35px;
}

.cabecalho a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.titulo{
  background-color: #a6880062;
  text-align: center;
  padding: 2px;
}
.titulo h1 strong {
  font-size: 36px;
  margin-bottom: 25px;
  color: #333;
  margin-left:30%;
}
.banner {
  background-color: #a6880062;
  text-align: center;
  padding: 80px 15;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner p {
  font-size: 20px;
  color: #777;
  max-width: 600px;
  height: 250px;
  margin: -100px 50px 0;
}

.banner img {
  width: 400px;
  height: 400px;
  border-radius: 50px;
  box-shadow: 0px 4px 18px rgba(84, 41, 2, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stronger{
  font-size: 20px;
  color: rgba(0, 109, 133, 0.539);
  max-width: 600px;
  margin: 5px 50px 0;
}